
.container {
    max-width: 940px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 30px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-768 {
        justify-content: space-around;

    }

    .top-menu {
        display: none;
        flex-shrink: 0;

        @include mobile-768 {
            display: block;
        }
    }

    .logo {
        width: 100%;
        padding-bottom: 5px;

        @include mobile-768 {
            width: 114px;
            padding: 0;

        }
    }

    .navbar {
        @include mobile-768 {
            position: absolute;
            top: 74px;
            height: 0;
            width: 100%;
            background-color: #fff;
        }

        .active {
            max-height: 300px;
        }
    }

    .top-list {
        display: flex;
        align-items: center;
        margin-right: -200px;
        transition: all 2s;

        @include mobile-768 {
            li {
                width: 100%;
            }

            overflow: hidden;
            max-height: 0px;
            margin-right: 0;
            text-align: center;
            flex-direction: column;
            transition: all 2s;
            padding-bottom: 0.5rem;
        }

        .top-list-a {
            color: $dark-green;
            font-weight: bold;
            letter-spacing: 5px;
            padding: 0 30px 5px;

            @include mobile-768 {
                line-height: 44px;
                padding: 0.5rem 0;
                background-color: #fff;
                &:last-of-type{
                    padding-bottom: 1rem;
                }

                &:hover {
                    @include dark-color_light-bg;
                }
            }
        }
    }

    .top-list-cart {
        margin-left: 79px;

        @include mobile-768 {
            margin-left: 0;
        }
    }
}


// header {
//     justify-content: space-around;

//     .logo {
//         width: 114px;
//         padding: 0;
//     }

//     .top-menu {
//         display: block;
//     }

//     .top-list li:last-of-type {
//         margin: 0;
//     }

//     .top-list li:not(:last-of-type) {
//         display: none;
//     }
// }