/* 文字、背景 通用顏色 */
$light-green:#EAF0ED;
$dark-green:#3F5D45;
$info-font:#ffffff;
$accent-color:#FFE180;
/* 文字大小 */
$fz-medium:20px;
$fz-large:24px;
$fw-b:bold;
$padding-horizontal-product_menu:16px;
$padding-suggest:10px;

