//文字、背景 通用顏色 
$light-green:#EAF0ED;
$dark-green:#3F5D45;
$font-8DA291:#8DA291;
$info-font:#ffffff;
$accent-color:#FFE180;
// 文字大小 
$fz-Xlarge:36px;
$fz-large:24px;
$fz-medium:20px;
$fz-small:16px;
$fw-b:bold;
$padding-horizontal-product_menu:16px;
$padding-suggest:10px;