@charset "UTF-8";
/* 文字、背景 通用顏色 */
/* 文字大小 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 30px 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

header .top-menu {
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
  header .top-menu {
    display: block;
  }
}

header .logo {
  width: 100%;
  padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  header .logo {
    width: 114px;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  header .navbar {
    position: absolute;
    top: 74px;
    height: 0;
    width: 100%;
    background-color: #fff;
  }
}

header .navbar .active {
  max-height: 300px;
}

header .top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -200px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media only screen and (max-width: 768px) {
  header .top-list {
    overflow: hidden;
    max-height: 0px;
    margin-right: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 2s;
    transition: all 2s;
    padding-bottom: 0.5rem;
  }
  header .top-list li {
    width: 100%;
  }
}

header .top-list .top-list-a {
  color: #3F5D45;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0 30px 5px;
}

@media only screen and (max-width: 768px) {
  header .top-list .top-list-a {
    line-height: 44px;
    padding: 0.5rem 0;
    background-color: #fff;
  }
  header .top-list .top-list-a:last-of-type {
    padding-bottom: 1rem;
  }
  header .top-list .top-list-a:hover {
    color: #3F5D45;
    background: #EAF0ED;
  }
}

header .top-list-cart {
  margin-left: 79px;
}

@media only screen and (max-width: 768px) {
  header .top-list-cart {
    margin-left: 0;
  }
}

.footer-bg-dark {
  background: #3F5D45;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

@media only screen and (max-width: 320px) {
  .footer-bg-dark {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
  }
}

.footer-bg-light {
  background: #EAF0ED;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

@media only screen and (max-width: 320px) {
  .footer-bg-light {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
  }
}

.mail {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 576px) {
  .mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mail .sweet-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail .sweet-mail img[alt='icon-small'] {
  width: 40px;
  height: 40px;
}

.mail .sweet-mail .mail-title {
  margin-left: 20px;
  color: #ffffff;
}

.mail .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 56px;
}

@media only screen and (max-width: 576px) {
  .mail .subscribe {
    margin-top: 33px;
  }
}

.mail .subscribe .ic-email {
  position: absolute;
  top: 16px;
  left: 20px;
}

.mail .subscribe input[type='email'] {
  padding-left: 52px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #EAF0ED;
  caret-color: #3F5D45;
}

@media only screen and (max-width: 375px) {
  .mail .subscribe input[type='email'] {
    max-width: 251px;
    font-size: 0.75rem;
    padding-left: 58px;
  }
}

.mail .submit {
  background: url("../img/arrow_forward.png") no-repeat;
  background-position: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 0px;
  padding: 0 32px;
  background-color: #FFE180;
  border: none;
  outline: none;
  cursor: pointer;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  color: #3F5D45;
  font-weight: bold;
  position: relative;
}

@media only screen and (max-width: 576px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 39px 0 1.5rem;
  }
}

.info .info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
}

.info .info-left img[alt='lg-dark'] {
  margin-bottom: 115px;
}

@media only screen and (max-width: 375px) {
  .info .info-left img[alt='lg-dark'] {
    width: 171px;
    margin-bottom: 40px;
  }
}

.info .info-left li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

@media only screen and (max-width: 375px) {
  .info .info-left li:last-of-type {
    margin-top: 37px;
  }
}

.info .info-left .ic-fb,
.info .info-left .ic-line {
  max-width: 32px;
  max-height: 32px;
  margin-right: 8px;
}

.info a {
  color: #3F5D45;
}

.info .info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media only screen and (max-width: 576px) {
  .info .info-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info .info-right .copyright {
    font-size: 16px;
    margin-top: 23px;
  }
}

.info .info-right .info-right-title {
  -ms-flex-preferred-size: 59px;
      flex-basis: 59px;
}

@media only screen and (max-width: 576px) {
  .info .info-right .info-right-title {
    position: absolute;
    right: 0;
    top: 39px;
    width: 59px;
  }
}

@media only screen and (max-width: 425px) {
  .info .info-right .info-right-title {
    display: none;
  }
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
}

.input-text-s {
  width: 186px;
  padding: 19px 20px;
  color: #8DA291;
  background-color: #EAF0ED;
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .input-text-s {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .input-text-s {
    width: 153px;
  }
}

.input-text-l {
  width: 380px;
  padding: 19px 20px;
  color: #8DA291;
  background-color: #EAF0ED;
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .input-text-l {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .input-text-l {
    width: 315px;
  }
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(58.9743%, 100%) minmax(38.461%, 100%);
      grid-template-columns: minmax(58.9743%, 100%) minmax(38.461%, 100%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 0 80px 0px;
  margin-bottom: 65px;
}

@media only screen and (max-width: 768px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 576px) {
  .main {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 425px) {
  .main {
    padding: 0;
  }
}

.delivery {
  background-color: #3F5D45;
}

.delivery-tittle {
  color: #ffffff;
  padding: 30px 40px 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 425px) {
  .delivery-tittle {
    padding: 30px 30px 0;
  }
}

@media only screen and (max-width: 320px) {
  .delivery-tittle {
    padding: 30px 0 0;
  }
}

.delivery-tittle .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 166px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  border-bottom: 1px solid #8DA291;
}

.delivery-tittle .circle-light {
  background: url("../img/Check-circle.svg") no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.delivery-tittle .circle-dark {
  width: 20px;
  height: 20px;
  background-color: #3F5D45;
  border-radius: 50%;
  border: 1px solid #8DA291;
}

.delivery-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 8px;
  margin: 0 40px 0;
}

@media only screen and (max-width: 425px) {
  .delivery-info {
    margin: 0 30px 0;
  }
}

@media only screen and (max-width: 320px) {
  .delivery-info {
    margin: 0;
  }
}

.delivery-info lable {
  color: #ffffff;
}

.delivery-info lable::after {
  content: "*";
  color: red;
  margin-left: 3px;
}

.delivery-info .input-text-grid {
  -ms-grid-column-align: end;
      justify-self: end;
}

.delivery-info .phone-number-label,
.delivery-info .address-label {
  padding-top: 8px;
}

.delivery-info .phone-number-input {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.delivery-info .address-label {
  grid-column: 1/-1;
}

.delivery-info .road {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.delivery-info .submit {
  margin: 27px -40px 0;
  grid-column: 1/-1;
  font-size: 24px;
  font-weight: bold;
  color: #3F5D45;
  padding: 17.5px 0;
  background-color: #FFE180;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .delivery-info .submit {
    margin-right: -30px;
    margin-left: -30px;
  }
}

@media only screen and (max-width: 320px) {
  .delivery-info .submit {
    margin: 27px 0 0 0;
  }
}

.goods-info {
  color: #8DA291;
}

@media only screen and (max-width: 768px) {
  .goods-info {
    display: none;
  }
}

.goods-info table {
  width: 100%;
  margin-bottom: 20px;
}

.goods-info .tbody {
  outline: 1px solid #EAF0ED;
}

.goods-info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  font-size: 16px;
}

.goods-info .row:first-of-type {
  margin-top: 16px;
  margin-bottom: 8px;
}

.goods-info .row:last-of-type {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.goods-info .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 18px 0px 20px;
  outline: 1px solid #EAF0ED;
}

.goods-info .goods-tittle {
  text-align: center;
  background-color: #EAF0ED;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 0;
  padding-right: 4px;
}

.goods-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-info-list .product {
  min-width: 120px;
  height: 80px;
}

.goods-info-list-tittle {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.goods-info-list-tittle h5 {
  line-height: 1.5;
}
/*# sourceMappingURL=delivery.css.map */