@charset "UTF-8";
/* 文字、背景 通用顏色 */
/* 文字大小 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #000;
}

*ㄝ {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 30px 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-menu {
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

header .logo {
  width: 100%;
  padding-bottom: 5px;
}

header .top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-list li:last-of-type {
  margin-left: 76px;
  padding-left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

header .top-list .top-list-a {
  color: #3F5D45;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0 30px 5px;
}

header .top-list .top-list-a:not(.top-list-cart):hover {
  border-bottom: 5px solid #3F5D45;
  margin-bottom: -5px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.footer-bg-dark {
  background: #3F5D45;
}

.footer-bg-light {
  background: #EAF0ED;
}

.mail {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail .sweet-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail .sweet-mail img[alt='icon-small'] {
  width: 40px;
  height: 40px;
}

.mail .sweet-mail .mail-title {
  margin-left: 20px;
  color: #ffffff;
}

.mail .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 56px;
}

.mail .subscribe .ic-email {
  position: absolute;
  top: 16px;
  left: 20px;
}

.mail .subscribe input[type='email'] {
  padding-left: 52px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #EAF0ED;
  caret-color: #3F5D45;
}

.mail .submit {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png") no-repeat #FFE180;
  background-position: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 0px;
  padding: 0 32px;
  outline: none;
  border: none;
  cursor: pointer;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  color: #3F5D45;
  font-weight: bold;
}

.info .info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
}

.info .info-left img[alt='lg-dark'] {
  margin-bottom: 115px;
}

.info .info-left li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.info .info-left .ic-fb,
.info .info-left .ic-line {
  max-width: 32px;
  max-height: 32px;
  margin-right: 8px;
}

.info a {
  color: #3F5D45;
}

.info .info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.info .info-right .info-right-title {
  -ms-flex-preferred-size: 59px;
      flex-basis: 59px;
}

main {
  margin-bottom: 3rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.product {
  width: 31.914894%;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #3F5D45;
  line-height: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.product h2 {
  padding: 16px 0;
  background: #3F5D45;
  color: #ffffff;
}

.product .product-menu a {
  padding: 16px;
  color: #3F5D45;
  background: #ffffff;
  outline: 1px solid;
  outline-color: #EAF0ED;
}

.product .product-menu a:hover {
  color: #3F5D45;
  background: #EAF0ED;
  -webkit-transition: linear 500ms;
  transition: linear 500ms;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
}

.goods-list li {
  width: 48.3871%;
}

.goods-list li:not(:last-of-type) {
  margin-bottom: 20px;
}

.goods-list .goods-pic {
  position: relative;
}

.goods-list .goods-pic .suggest {
  position: absolute;
  top: 0px;
  left: 20px;
  color: #ffffff;
  background: #3F5D45;
  padding: 10px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 20px;
}

.goods-list .goods-pic .heart {
  position: absolute;
  right: 22px;
  top: 19px;
}

.goods-list .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3F5D45;
  border: 1px solid #EAF0ED;
}

.goods-list .detail .title {
  padding: 14px 33px;
  border-right: 1px solid #EAF0ED;
}

.goods-list .detail .price {
  padding: 0 20px 0 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.goods-list .add-cart {
  text-align: center;
  padding: 16px 0;
  color: #3F5D45;
  background: #EAF0ED;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.goods-list .add-cart:hover {
  color: #ffffff;
  background: #3F5D45;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.chang-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.chang-page li {
  outline: 1px solid #EAF0ED;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.chang-page li .arrow {
  padding: 18px;
}

.chang-page a {
  padding: 16px 26px;
  line-height: 28px;
  font-size: 20px;
  color: #3F5D45;
}

.chang-page a:not(.arrow):hover {
  background: #3F5D45;
  color: #ffffff;
}

@media only screen and (max-width: 375px) {
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .logo {
    width: 114px;
    padding: 0;
  }
  header .top-menu {
    display: block;
  }
  header .top-list li:last-of-type {
    margin: 0;
  }
  header .top-list li:not(:last-of-type) {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .product {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .goods-list li {
    width: 100%;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
  }
  .goods-list .goods-pic img {
    width: 100%;
  }
  .goods-list .detail .title {
    padding: 14px 38px;
  }
  .goods-list .detail .price {
    padding: 14px 25px;
  }
  .chang-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }
  .mail .subscribe {
    margin-top: 33px;
  }
  .mail .subscribe input[type='email'] {
    max-width: 251px;
    font-size: 0.75rem;
    padding-left: 58px;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 39px 1.5rem 1.5rem;
  }
  .info .info-left img[alt='lg-dark'] {
    width: 171px;
    margin-bottom: 40px;
  }
  .info .info-left li:last-of-type {
    margin-top: 37px;
  }
  .info .info-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info .info-right .info-right-title {
    display: none;
  }
  .info .info-right .copyright {
    font-size: 16px;
    margin-top: 23px;
  }
}
/*# sourceMappingURL=index.css.map */